<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.username">raymed</property>
		<property name="hibernate.connection.password">R_aymed89909091</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql:///mics?useSSL=false</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>

		<!-- 配置 C3P0 数据源 -->
		<property name="hibernate.c3p0.max_size">10</property>
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="c3p0.acquire_increment">2</property>

		<property name="c3p0.idle_test_period">2000</property>
		<property name="c3p0.timeout">2000</property>

		<property name="c3p0.max_statements">10</property>


		<property name="current_session_context_class">thread</property> 

		<mapping resource="com/mics/entity/ReportContent.hbm.xml" />
	</session-factory>
</hibernate-configuration>
